<html>
    <h1>Edit weekly DATIS report </h1>
    <form method='POST' action='/updscnwrepsub/{{ id }}'>
        {% csrf_token %}
        {% for dscnww in dscnw %}
        <input type=text  value="{{ dscnww.air_conditioning_check }}" placeholder="Air_conditioning_check" name="acc"></input><br>
        <input type=text  value="{{ dscnww.cleaning_dscn_associated_eqpt }}"  placeholder="Cleaning_DSCN_associated_eqpt" name="cdae"></input><br>
        <input type=text  value="{{ dscnww.ups1_ups2_battery_backup }}"  placeholder="UPS1_UPS2_battery_backup" name="uubb"></input><br>
        <input type=text  value="{{ dscnww.ups_battery_voltage_on_load }}"  placeholder="UPS_battery_voltage_on_load" name="ubvl"></input><br>
        <input type=text  value="{{ dscnww.antenna_n_cable_check }}"  placeholder="Antenna_n_Cable_check" name="ancc"></input><br>
        <input type=text  value="{{ dscnww.remarks }}"  placeholder="Remarks" name="remarks"></input><br>
         <button> Submit </button>
       
    </form>
    <td><button class="btn btn-success" onclick="window.open('/datisweeklylogs/{{ dscnww.emp_id }}','_blank')" >Past Equipment Logs</button></td>
    {% endfor %}
    <td><button class="btn btn-success" onclick="window.open('/standards','_blank')">Check Standards</button></td>
    <td><button onclick="window.location.href= '/datisdaily/{{ id }}'"> Contact Supervisor</button></td>
    </html> 