<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fea7943767ec4654b937af13394efbe8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_fea7943767ec4654b937af13394efbe8" ></div>
        
</body>
<script>    
    
            var map_fea7943767ec4654b937af13394efbe8 = L.map(
                "map_fea7943767ec4654b937af13394efbe8",
                {
                    center: [28.6139, 77.209],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f3d74851926a4889bc27d7296f95b06d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_fea7943767ec4654b937af13394efbe8);
        
    
            var marker_54cd2a42a3cd4ca69b3379a6ff24f785 = L.marker(
                [22.3325, 73.2171],
                {}
            ).addTo(map_fea7943767ec4654b937af13394efbe8);
        
    
        var popup_feb921764ff647768222db4e4c01d61f = L.popup({"maxWidth": "100%"});

        
            var html_3357e2b262c84ecb8ed689cb791690e2 = $(`<div id="html_3357e2b262c84ecb8ed689cb791690e2" style="width: 100.0%; height: 100.0%;"><h5>id:2102</h5><br><h5>name:Linus Torvaldas</h5><br><h5>contact:904471123</h5><br><h5>email:yes@gmail.com</h5><br><a href="/" target="_blank"> Vadodara </a></div>`)[0];
            popup_feb921764ff647768222db4e4c01d61f.setContent(html_3357e2b262c84ecb8ed689cb791690e2);
        

        marker_54cd2a42a3cd4ca69b3379a6ff24f785.bindPopup(popup_feb921764ff647768222db4e4c01d61f)
        ;

        
    
    
            marker_54cd2a42a3cd4ca69b3379a6ff24f785.bindTooltip(
                `<div>
                     Vadodara
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4ee60ee5fd294993885cee4d3cdadcdb = L.marker(
                [15.3803, 73.835],
                {}
            ).addTo(map_fea7943767ec4654b937af13394efbe8);
        
    
        var popup_8447fe902cb64daba19aebd6d6e7b5e7 = L.popup({"maxWidth": "100%"});

        
            var html_7725bdad0cc94acf8573f4b761fcf88e = $(`<div id="html_7725bdad0cc94acf8573f4b761fcf88e" style="width: 100.0%; height: 100.0%;"><h5>id:2121</h5><br><h5>name:ronaldo</h5><br><h5>contact:325234</h5><br><h5>email:ok@gmail.com</h5><br><a href="/" target="_blank"> Dabolim </a></div>`)[0];
            popup_8447fe902cb64daba19aebd6d6e7b5e7.setContent(html_7725bdad0cc94acf8573f4b761fcf88e);
        

        marker_4ee60ee5fd294993885cee4d3cdadcdb.bindPopup(popup_8447fe902cb64daba19aebd6d6e7b5e7)
        ;

        
    
    
            marker_4ee60ee5fd294993885cee4d3cdadcdb.bindTooltip(
                `<div>
                     Dabolim
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5463828dc582425198c8a62234ac190c = L.marker(
                [19.0896, 72.8656],
                {}
            ).addTo(map_fea7943767ec4654b937af13394efbe8);
        
    
        var popup_ea67101cafd94d2484f9046157de4de4 = L.popup({"maxWidth": "100%"});

        
            var html_49f90adc409448a6b79f9ed9994d3782 = $(`<div id="html_49f90adc409448a6b79f9ed9994d3782" style="width: 100.0%; height: 100.0%;"><h5>id:2111</h5><br><h5>name:nisarg</h5><br><h5>contact:21423</h5><br><h5>email:asdsad@ymail.com</h5><br><a href="/" target="_blank"> Sahar </a></div>`)[0];
            popup_ea67101cafd94d2484f9046157de4de4.setContent(html_49f90adc409448a6b79f9ed9994d3782);
        

        marker_5463828dc582425198c8a62234ac190c.bindPopup(popup_ea67101cafd94d2484f9046157de4de4)
        ;

        
    
    
            marker_5463828dc582425198c8a62234ac190c.bindTooltip(
                `<div>
                     Sahar
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_13bcf8c93ecd45c29c730f3bb427d5b2 = L.marker(
                [28.5562, 77.1],
                {}
            ).addTo(map_fea7943767ec4654b937af13394efbe8);
        
    
        var popup_e2aa231ba57641ca9c9bfcc6ae711208 = L.popup({"maxWidth": "100%"});

        
            var html_1d5055c4deca403980f126ef6fe9f56b = $(`<div id="html_1d5055c4deca403980f126ef6fe9f56b" style="width: 100.0%; height: 100.0%;"><h5>id:2131</h5><br><h5>name:torentino</h5><br><h5>contact:4534</h5><br><h5>email:na@gmail.com</h5><br><a href="/" target="_blank"> Delhi </a></div>`)[0];
            popup_e2aa231ba57641ca9c9bfcc6ae711208.setContent(html_1d5055c4deca403980f126ef6fe9f56b);
        

        marker_13bcf8c93ecd45c29c730f3bb427d5b2.bindPopup(popup_e2aa231ba57641ca9c9bfcc6ae711208)
        ;

        
    
    
            marker_13bcf8c93ecd45c29c730f3bb427d5b2.bindTooltip(
                `<div>
                     Delhi
                 </div>`,
                {"sticky": true}
            );
        
</script>